{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uppy | {% block title %}About Us{% endblock title %} </title>
    <link rel="shortcut icon" href="/static/src/brand/uppy-main.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/src/scss/uppy.main.css">
    <link rel="stylesheet" href="/static/src/libs/css/uppy-bs-icons.css">
</head>

<body>

    <main></main>
    {% block customScripts %}{% endblock customScripts %}

</body>

</html>